body {
  margin: 0;
  padding: 0;
  user-select: none;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* HEADER */
.header {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  height: auto;
}

  /* Logo */
.logo {
  display: flex;
  position: relative;
  width: 100%;
  height: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logo-figure {
  display: block;
  position: relative;
  height: 70%;
  width: 30%;
  overflow: hidden;
}

.logo-img {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}

.nav-style {
  background-color: rgb(93, 35, 88) !important;
  font-weight: bolder;
}

.nav-style li .nav-link-component:focus {
  color: rgb(225, 169, 249) !important;
}

/* BODY SECTION */
.product, .contact {
  display: flex;
  position: relative;
  top: auto;
  justify-content: center;
  align-items: center;
  background: rgb(241, 203, 241);
  width: 100%;
  height: 600px;
}

/* Home */
.home {
  display: block;
  position: relative;
  top: auto;
  background: rgb(241, 203, 241);
  width: 100%;
  height: auto;
}

.home-h1 {
  display: flex;
  position: relative;
  top: 0;
  width: 100%;
  height: 5%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home-section-carousel {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  overflow: hidden;
}

.home-carousel img{
  display: block;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 70vh !important;
  background-color: rgb(205, 170, 203);
  overflow: hidden;
}

.home-section-media {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.home-media {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  overflow: hidden;
}

.home-text-media {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 1%;
  width: 98%;
  height: auto;
  text-align: center;
}

.home-logos-media {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 0%;
  width: 100%;
  height: auto;
  background-color: rgb(93, 35, 88);
  justify-content: center;
}

.home-logo-media {
  display: flex;
  margin: 0.5%;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  border: 2px solid transparent;
  border-radius: 10%;
  color: rgb(244, 197, 235);
  transition: all 0.4s;
}

.home-logo-media:hover {
  border: 2px solid rgb(229, 130, 212);
  color: rgb(237, 163, 224)
}

/* FOOTER */

.footer {
  display: flex;
  position: relative;
  width: 100%;
  height: 200px;
  background: rgb(241, 203, 241);
}

